#header4{
    min-height: 45vh;
    color: white;
  width :100%;
  background: rgba(46, 44, 47, 0.63);
}
#header4 h1{
  text-align: center;
  font-size: 2em;
}
#header4 p
{
  padding: 15px;
  font-size: 1em;
}
.foot
{
  position: relative;
}