
.divmain
{
    margin-left: 14vh;
    display: flex;
    width: 20vw;
    border-radius: 10px;
}
.divmain2
{
    display: flex;
    width: 20vw;
    border-radius: 10px;
}
.product
{
    border: 3px solid white;
    
    background: rgb(2, 0, 7);
  padding: 6% 12%;
  color: white;
}
.product img{
    width: 15vw;
    height:20vh;
}
.btn
{
    color :rgb(0, 0, 0);
  text-decoration: none;
  display:inline-block;
  border: 1px solid rgb(145, 106, 95) ;
  background: rgb(191, 144, 144);
  font-size: 15px;
  padding: 5px;
  border-radius: 5px;
  position: relative;
  cursor:pointer;
  color: white;
}

.product1
{
    border: 3px solid white;
    background: black;
  padding: 6% 12%;
  color: white;
}
.product1 img{
    width: 15vw;
    height:20vh;
}

.product2
{
    border: 3px solid white;
    
    background: black;
  padding: 6% 12%;
  color: white;
}
.product2 img{
    width: 15vw;
    height:20vh;
}

.product3
{
    border: 3px solid white;
    background: black;
  padding: 6% 12%;
  color: white;
}
.product3 img{
    width: 15vw;
    height:20vh;
}



